body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #000;
  width: 340px;
  border-radius: 1rem;
  margin-right: 0.15rem;
}

.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  padding: 0 1.5rem 0 1.5rem;
}

.music-player {
  background-color: #000;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 72px;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
}

.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}

.nav-option:hover {
  opacity: 1;
  color: #fff;
}

.nav-option i {
  font-size: 1.25rem;
}

.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}

.library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.library-option img {
  height: 1.5rem;
  width: 1.25rem;
}

.icon {
  font-size: 1.25rem;
  display: flex;
}

.icon i {
  opacity: 0.7;
  margin: 1rem;
  cursor: pointer;
}

.icon i:hover {
  opacity: 1;
}

.box {
  height: 8rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.5rem 1rem;
  background-color: #232323;
  border-radius: 0.75rem;
  display: flex;
  flex-wrap: wrap;
}

.box-p1 {
  font-size: 0.95rem;
  font-weight: 500;
}

.box-p2 {
  font-size: 0.75rem;
  opacity: 0.9;
  line-height: 1rem;
}

.badge {
  border-radius: 2rem;
  background-color: #fff;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  height: 2rem;
  width: fit-content;
  cursor: pointer;
}

.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  z-index: 1;
}

.sticky-nav-icon {
  margin-left: 0.75rem;
}

.sticky-nav-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide:hover {
  transform: scale(1.05);
}

.dark-badge:hover {
  transform: scale(1.05);
}

.ak:hover {
  transform: scale(1.3);
}

.nav-iteam {
  margin-right: 1rem;
}

.dark-badge {
  background-color: #000;
  color: #fff;
}

@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.card1 {
  background-color: #232323;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card1:hover {
  transform: scale(1.1);
  border: 2px solid white;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 2px 4px 5px #38b000;
}

.card1 img {
  width: 100%;
  border-radius: 0.5rem;
}

.card-img:hover {
  box-shadow: 3px 3px 6px #121212;
}

.card-title {
  font-weight: 600;
}

h2 {
  width: 300px;
}

h2:hover {
  transition: 1s;
  transform: scale(1.1);
  box-shadow: 3px 2px 7px rebeccapurple;
}

.card-title:hover {
  font-weight: 900;
  transition-delay: 1s;
}

.card-info {
  font-size: 0.78rem;
  opacity: 0.8;
}

.btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: fit-content;
  padding: 0.2rem 0.4rem 0.2rem 4rem;
  opacity: 0.8;
  margin-bottom: 0.5rem;
  font-weight: 600;
  background-color: #fff;
  font-size: 1.1rem;
  border: 3px solid black;
  margin-right: 18rem;
  opacity: 1;
}

.badge:hover {
  transform: scale(1.02);
}

.box:hover {
  transform: scale(1.05);
  border: 1px solid white;
  transition: 1s;
}

.btn button:hover {
  padding-left: 10rem;
  cursor: text;
  text-transform: uppercase;
  transform: scale(1.15);
  box-shadow: 4px 2px 10px #1bd760;
  transition: 1s;
  background-color: #000;
  color: #fff;
  transition: 1s;
}

@media (max-width: 1000px) {
  .btn button {
    padding: 0.2rem 0.4rem 0.2rem 1rem;
  }

  .btn button:hover {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footer {
  height: 300px;
  display: flex;
  align-items: center;
}

.line {
  width: 90%;
  height: 50%;
  border-top: 1px solid white;
}

.music-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.album {
  width: 25%;
}

.player {
  width: 50%;
}

.controls {
  width: 25%;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.player-control-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 1.75rem;
  opacity: 0.7;
}

.player-control-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.playback-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 70%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
  background-color: #fff;
  border-radius: 100px;
  height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -0.34rem;
}

.album-contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
  cursor: pointer;
}

.album-img {
  width: 3rem;
  height: 3rem;
  padding-left: 0.5rem;
  border-radius: 0.3rem;
}

.para-album {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  margin: 0.2rem;
}

.album-para-1 {
  font-size: 1rem;
  font-weight: 600;
}

.album-para-2 {
  opacity: 0.8;
  font-size: 0.7rem;
  padding-top: 0.2rem;
}

.icon-1 {
  height: 1rem;
  width: 1rem;
  padding-left: 0.5rem;
  margin-left: 1rem;
}

.icon-2 {
  height: 1.8rem;
  width: 1.5rem;
  padding-left: 0.5rem;
  margin-left: 0.4rem;
  color: #fff;
}

.control-opt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem 0 7rem;
}

.opt-1 {
  height: 2.4rem;
  width: 1.5rem;
  padding-left: 0.2rem;
}

.opt-3 {
  height: 1.5rem;
  width: 1.25rem;
}

.opt-4 {
  height: 1.2rem;
  width: 1rem;
  padding-left: 0.2rem;
}

.opt-5 {
  height: 2.5rem;
  width: 1.8rem;
}

.rang {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.rang::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -0.34rem;
}

.rang::-webkit-slider-runnable-track {
  background-color: #fff;
  border-radius: 100px;
  height: 0.2rem;
}
